@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 3;
        transform: none;
    }
}

.show-anime{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s 1.5s forwards;
}

html{
    color : #25272c;
    font-family: 'Noto Sans KR' !important;
}